.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.general-adress {
  font-style: normal;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-color);
}

:root {
  --main-color: #212121;
  --second-color: #757575;
  --accent-color: #2196F3;
  --background-color-dark: #2F303A;
  --background-color-soft-gray: #F5F4FA;
  --button-hover-color: #188CE8;
  --white-font: #FFFFFF;
  --black-logo: #000000;
  --icon-color: #AFB1B8;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.header__logo {
  padding: 24px 0;
}

.header__logo--dark {
  color: var(--black-logo);
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  line-height: 1.19;
  color: var(--accent-color);
}

.footer__logo {
  font-size: 24px;
  margin-bottom: 20px;
  display: block;
}

.header__logo {
  font-size: 24px;
  letter-spacing: 0.03em;
}

.footer__logo--light {
  color: var(--white-font);
}

@media screen and (min-width: 768px) {
  .header__logo {
    font-size: 26px;
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
  }
  .footer__logo {
    font-size: 26px;
  }
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials__item:not(:last-child) {
  margin-right: 10px;
}

.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: var(--white-font);
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__socials .socials__link {
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--white-font);
}

.socials__link:hover, .socials__link:focus {
  background-color: var(--accent-color);
  fill: var(--white-font);
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .socials {
    justify-content: space-between;
  }
  .footer__socials {
    margin-left: 70px;
  }
}

.btn {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 25px;
  padding-left: 25px;
  align-self: center;
  fill: var(--white-font);
  color: var(--white-font);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  display: block;
  color: var(--white-font);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover, .btn:focus {
  background: var(--button-hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.hero__button {
  padding-right: 30px;
  padding-left: 30px;
  margin: 0 auto;
  width: 200px;
  height: 50px;
}

.footer__subsc-btn {
  display: flex;
  align-items: center;
  margin-left: 12px;
  fill: var(--white-font);
  margin-top: 20px;
}

.hero-modal__form-btn {
  padding-right: 55px;
  padding-left: 55px;
  align-self: center;
}

@media screen and (min-width: 1200px) {
  .footer__subsc-btn {
    margin-top: unset;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .mobile-menu {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    max-width: 767px;
    height: 100vh;
    background-color: #ffffff;
    padding: 48px 40px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;
  }
  .mobile-menu__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-menu__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
    color: var(--main-color);
  }
  .mobile-menu__link:focus {
    color: var(--accent-color);
  }
  .mobile-menu__social-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
  .mobile-menu__contacts-item--big {
    color: var(--accent-color);
    font-weight: 500;
    font-size: 34px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    margin-bottom: 32px;
  }
  .mobile-menu__contacts-link {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    margin-bottom: 60px;
    color: var(--second-color);
  }
  .mobile-menu__contacts-link:focus {
    color: var(--accent-color);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .header__list {
    display: none;
  }
  .header__list--right {
    display: none;
  }
  .header__btn--mobile,
  .mobile-menu__close {
    background-color: transparent;
    fill: #212121;
    border: none;
    padding: 0;
  }
  .header__btn--mobile {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header__btn--mobile:hover, .header__btn--mobile:focus {
    fill: var(--accent-color);
  }
  .mobile-menu__close {
    position: absolute;
    top: 10px;
    right: 15px;
  }
  .mobile-menu__close:focus {
    fill: var(--accent-color);
  }
  .current {
    color: var(--accent-color);
  }
  .header {
    border-bottom: 1px solid #ECECEC;
  }
}

@media screen and (max-width: 480px) {
  .mobile-menu__link {
    font-weight: 500;
    font-size: 36px;
  }
  .mobile-menu__social-list {
    font-weight: 500;
    font-size: 14px;
  }
  .mobile-menu__contacts-item--big {
    font-weight: 500;
    font-size: 26px;
  }
  .mobile-menu__social-list {
    font-weight: 500;
    font-size: 14px;
  }
  .mobile-menu__contacts-link {
    font-weight: 500;
    font-size: 20px;
  }
  .mobile-menu {
    padding: 40px 32px;
  }
}

@media screen and (min-width: 768px) {
  .header__btn--mobile {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .header {
    border-bottom: 1px solid #ECECEC;
    display: block;
  }
  .header--wrap {
    display: flex;
    align-items: center;
  }
  .navigation {
    display: flex;
    align-items: center;
  }
  .header__list {
    display: flex;
    align-items: center;
  }
  .header__item--left {
    display: flex;
    align-content: center;
    justify-content: center;
    position: relative;
  }
  .header__item--left:not(:last-child) {
    margin-right: 50px;
  }
  .header__list--right {
    display: block;
    margin-left: auto;
  }
  .header__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header__link::after {
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    display: flex;
    position: absolute;
    margin-top: 29px;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header__link:hover::after {
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    display: flex;
    position: absolute;
    margin-top: 29px;
    opacity: 1;
  }
  .header__link:focus::after {
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    display: flex;
    position: absolute;
    margin-top: 29px;
    opacity: 1;
  }
  .header__link:hover, .header__link:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
  .current {
    color: var(--accent-color);
  }
  .current::after {
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    display: flex;
    position: absolute;
    margin-top: 29px;
    opacity: 1;
  }
  .header__item--right:not(:last-child) {
    margin-bottom: 10px;
    margin-right: unset;
  }
  .header__tel {
    padding-bottom: 21px;
  }
  .header__mail {
    padding-top: 21px;
  }
  .header__contacts--text-right {
    margin-left: 10px;
  }
  .header__contacts {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--second-color);
    fill: var(--icon-color);
    display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header__contacts:hover, .header__contacts:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
}

@media screen and (min-width: 1200px) {
  .header__tel {
    padding-bottom: unset;
  }
  .header__mail {
    padding-top: unset;
  }
  .header__list--right {
    display: flex;
    align-items: center;
    margin-left: auto;
    flex-direction: unset;
    margin-bottom: unset;
  }
  .header__item--right:not(:last-child) {
    margin-right: 50px;
    margin-bottom: unset;
  }
  .header__contacts {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
  }
}

.hero__headline {
  font-size: 26px;
  max-width: 360px;
  margin: 0 auto;
  color: var(--white-font);
  text-transform: uppercase;
  font-weight: 900;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
}

.hero {
  background-color: var(--background-color-dark);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile/bg.jpg");
  padding-bottom: 118px;
  padding-top: 118px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px), screen and (min-resolution: 192dpi) and (min-width: 320px), screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile/bg@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet/bg@1x.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet/bg@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero__headline {
    font-size: 44px;
    min-width: 696px;
  }
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/big_bg.jpg");
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200), screen and (min-resolution: 192dpi) and (min-width: 1200), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/desktop@2x/bg@2x.jpg");
  }
}

.wedo {
  display: none;
}

@media screen and (min-width: 1200px) {
  .wedo__card {
    position: relative;
    display: flex;
    align-items: flex-end;
  }
  .wedo__capture {
    position: absolute;
    color: var(--white-font);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    background: rgba(47, 48, 58, 0.8);
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wedo__headline {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
  .wedo__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .wedo {
    display: block;
    padding-bottom: 95px;
  }
}

.features__icon--wrap {
  background-color: #F5F4FA;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  height: 120px;
  margin-bottom: 30px;
}

.features {
  padding-top: 60px;
  padding-bottom: 60px;
}

.features__item {
  margin-bottom: 30px;
}

.features__header {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features__text {
  display: flex;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

@media screen and (min-width: 768px) {
  .features__header {
    justify-content: flex-start;
  }
  .features__icon--wrap {
    width: 354px;
    justify-content: center;
  }
  .features__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .features__item:nth-child(2n + 1) {
    margin-right: 30px;
  }
  .features__text {
    max-width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .features__icon--wrap {
    background-color: #F5F4FA;
    width: 270px;
    margin-bottom: 30px;
  }
  .features {
    padding-top: 95px;
    padding-bottom: 95px;
  }
  .features__list {
    display: flex;
  }
  .features__item {
    width: 270px;
  }
  .features__item:not(:last-child) {
    margin-right: 30px;
  }
  .features__header {
    justify-content: unset;
    margin-top: unset;
  }
}

.team {
  background-color: var(--background-color-soft-gray);
  padding-top: 60px;
  padding-bottom: 60px;
}

.team__headline {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.team-card__header {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
}

.team-card__capture {
  padding-bottom: 30px;
  padding-top: 30px;
  padding-right: 32px;
  padding-left: 32px;
}

.team-card__text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--second-color);
  text-align: center;
  margin-bottom: 16px;
}

.team__item {
  max-width: 450px;
  max-height: 622px;
}

.team__item:not(:last-child) {
  margin-bottom: 30px;
}

.team__photo {
  max-width: 100%;
}

.team-card {
  background: var(--white-font);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
  .team__item {
    max-width: 354px;
    max-height: 536px;
  }
  .team__item:nth-child(2n + 1) {
    margin-right: 30px;
  }
  .team__list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 95px;
    padding-bottom: 95px;
  }
  .team__headline {
    font-size: 36px;
  }
  .team__list {
    display: flex;
    justify-content: space-between;
  }
  .team__item {
    max-width: 270px;
    max-height: 428px;
  }
  .team__item:not(:last-child) {
    margin-right: 30px;
  }
}

.clients__headline {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.clients {
  padding-bottom: 60px;
  padding-top: 60px;
}

.clients__link {
  width: 100%;
  height: 100%;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--icon-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:focus, .clients__link:hover {
  border: 1px solid var(--accent-color);
  cursor: pointer;
  fill: var(--accent-color);
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.clients__list-item {
  width: 43%;
  height: 90px;
}

.clients__list-item:not(:nth-last-child(-n + 2)) {
  margin-bottom: 30px;
}

.clients__list-item:nth-child(2n+1) {
  margin-right: 30px;
}

@media screen and (min-width: 768px) {
  .clients__list {
    justify-content: center;
  }
  .clients__list-item {
    width: 226px;
  }
  .clients__list-item:not(:nth-last-child(-n + 2)) {
    margin-bottom: unset;
  }
  .clients__list-item:nth-last-child(-n + 3) {
    margin-top: 30px;
  }
  .clients__list-item:nth-child(2n+1) {
    margin-right: unset;
  }
  .clients__list-item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__headline {
    font-size: 26px;
  }
  .clients {
    padding-bottom: 95px;
    padding-top: 95px;
  }
  .clients__list-item {
    width: 170px;
  }
  .clients__list-item:not(:last-child) {
    margin-right: 30px;
  }
  .clients__list-item:not(:nth-last-child(-n + 2)) {
    margin-bottom: unset;
  }
  .clients__list-item:nth-last-child(-n + 3) {
    margin-top: unset;
  }
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-color-dark);
}

.footer__contacts {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__contacts:focus, .footer__contacts:hover {
  color: var(--accent-color);
}

.footer__form-call {
  text-transform: uppercase;
  color: var(--white-font);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.14;
}

.footer__subsc-input {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2F303A;
  color: var(--white-font);
  padding-left: 15px;
}

.footer__subsc-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
}

.mail-for-subscribe {
  color: var(--white-font);
}

.footer__calltoaction {
  color: var(--white-font);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.14;
  margin-bottom: 20px;
}

.footer__contacts--white {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-font);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__contacts--white:focus, .footer__contacts--white:hover {
  color: var(--accent-color);
}

.footer--position {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__address {
  text-align: center;
  margin-bottom: 60px;
}

.footer__socials {
  text-align: center;
  margin-bottom: 60px;
}

.footer__form {
  width: 100%;
  text-align: center;
}

.footer__subsc-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__item:not(:last-child) {
  margin-bottom: 10px;
}

.footer__form-call {
  margin-bottom: 20px;
}

.footer__send-icon {
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .footer--position {
    text-align: unset;
    flex-direction: unset;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .footer__subsc-input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer--position {
    flex-wrap: unset;
    justify-content: space-between;
  }
  .footer__subsc-form {
    flex-direction: unset;
    align-items: unset;
    justify-content: flex-end;
  }
  .footer__subsc-input {
    width: 358px;
  }
  .footer__socials {
    text-align: unset;
    margin-bottom: unset;
  }
  .footer__address {
    text-align: unset;
    margin-bottom: unset;
  }
  .footer__form {
    width: unset;
    text-align: unset;
  }
}

.portfolio {
  padding-bottom: 60px;
  padding-top: 60px;
}

.porfolio__item {
  display: block;
  max-width: 450px;
  max-height: 404px;
}

.por-card {
  margin-left: 30px;
  margin-top: 30px;
  display: block;
  box-shadow: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.por-card:hover, .por-card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.por-card:hover .por-card__overlay, .por-card:focus .por-card__overlay {
  transform: translateY(0%);
  opacity: 1;
}

.portfolio__filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  background-color: var(--background-color-soft-gray);
  border-radius: 4px;
  cursor: pointer;
  border: 0px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__filter-button:hover, .portfolio__filter-button:focus {
  background-color: var(--accent-color);
  color: var(--white-font);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__btn-list {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.portfolio__btn-list-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio__btn-list-item:not(:nth-last-of-type(-n+2)) {
  margin-bottom: 15px;
}

.portfolio__case-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
  flex-basis: calc(100% / 3 - 30px);
}

.por-card__capture {
  height: unset;
  padding-left: 25px;
  padding-bottom: 20px;
  border: 1px solid #EEEEEE;
  border-top: none;
  padding-top: 20px;
  padding-right: 25px;
}

.por-card__header {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 5px;
}

.por-card__text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

.por-card__overlay--wrap {
  position: relative;
  overflow: hidden;
}

.por-card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  background: rgba(33, 150, 243, 0.9);
  color: var(--white-font);
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 60px;
  padding-bottom: 10px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  height: 100%;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu {
  z-index: 1000;
}

.por-card__pic {
  max-width: 100%;
}

@media screen and (max-width: 450px) {
  .por-card__overlay {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 25px;
    padding-bottom: 5px;
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio__btn-list-item:not(:nth-last-of-type(-n+2)) {
    margin-bottom: unset;
  }
  .porfolio__item {
    max-width: 354px;
    max-height: 440px;
  }
  .portfolio__btn-list {
    margin-bottom: 30px;
    justify-content: center;
  }
  .por-card__capture {
    height: 146px;
    max-width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__filter-button:first-of-type {
    margin-bottom: unset;
  }
  .por-card__capture {
    padding-left: 25px;
    padding-bottom: 20px;
    height: unset;
    max-width: unset;
  }
  .portfolio {
    padding-bottom: 95px;
    padding-top: 95px;
  }
  .portfolio__btn-list {
    margin-bottom: 50px;
  }
  .porfolio__item {
    max-width: 370px;
    max-height: 404px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 609px;
  background-color: var(--white-font);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.hero-modal__close {
  background-color: var(--white-font);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-modal__close:focus, .hero-modal__close:hover {
  fill: var(--accent-color);
}

.hero-modal__close-icon {
  display: flex;
  align-items: center;
  justify-items: center;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.hero-modal__form {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.hero-modal__call {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.hero-modal__input {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  height: 40px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-modal__input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.hero-modal__input-label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--second-color);
  margin-bottom: 10px;
}

.hero-modal__icon--wrap {
  position: relative;
  display: block;
  margin-top: 4px;
}

.hero-modal__form-icon {
  position: absolute;
  fill: var(--main-color);
  display: block;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-modal__input:focus + .hero-modal__form-icon {
  fill: var(--accent-color);
}

.hero-modal__textarea-label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--second-color);
  margin-bottom: 20px;
}

.hero-modal__textarea {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  height: 120px;
  padding-left: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 16px;
  margin-top: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
  resize: none;
}

.hero-modal__textarea::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.hero-modal__textarea:focus {
  outline: none;
  border-color: var(--accent-color);
}

.hero-modal__term--wrap {
  display: flex;
  align-items: baseline;
  margin-bottom: 30px;
  justify-content: space-around;
}

.hero-modal__term-link {
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--accent-color);
}

.hero-modal__check-label {
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-modal__check-label::before {
  content: "";
  width: 15px;
  height: 15px;
  display: block;
  border: 2px solid #212121;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-modal__check:checked + .hero-modal__check-label::before {
  background-image: url("../images/icons/check.svg");
  background-position: center;
  background-color: var(--accent-color);
  outline: none;
  border-color: var(--accent-color);
}

.hero-modal__check:focus + .hero-modal__check-label::before {
  outline: none;
  border-color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .hero-modal {
    width: 528px;
    height: 580px;
  }
  .hero-modal__check-label {
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  .hero-modal {
    max-width: 320px;
    margin: 0 auto;
  }
  .hero-modal__check-label {
    font-size: 10px;
    display: flex;
    align-items: center;
    position: relative;
  }
  .hero-modal__term-link {
    position: absolute;
    top: 10px;
  }
}
/*# sourceMappingURL=main.css.map */