    :root {
       --main-color: #212121;
       --second-color: #757575;
       --accent-color: #2196F3;
       --background-color-dark: #2F303A;
       --background-color-soft-gray: #F5F4FA;
       --button-hover-color: #188CE8;
       --white-font: #FFFFFF;
       --black-logo: #000000;
       --icon-color: #AFB1B8;
   }